body {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
    background-color: blue;
    opacity: .5;
}

p {
    color: green;
    font-size: 24pt;
    background-color: lightgreen;
    opacity: .5;
    width: 60%;
}

a {
    color:red;
    background-color: pink;
    opacity: .5;
}

span {
background-color: yellow;
    opacity: 1;
    margin-left: 40px;
    margin-top: -50px;
}

form {
height: 200px;
width: 750px;
background-color: orange;
    opacity: .9;
    margin-left: 575px;
    margin-top:-50px;
}

input {
background-color: purple;
    opacity: 1;
}

div {
height: 100px;
width: 500px;
background-color: blue;
    opacity: .7;
    margin-left: 125px;
    margin-top: 50px;
}

img {
margin-top: -25px;
}

.wiki_stuff {
text-align: center;
width: 1000px;
margin-left: 450px;
margin-top: -0px;
}

.first_p {
margin-left: 375px;
text-align: center;
}

